# -----------------------------
# Backend (Spring / Gradle)
# -----------------------------

Gradle specific files
/APIService/.gradle/
/APIService/.gradle/**/*.lock
/APIService/.gradle/**/*.bin

# Build and IDE-specific files
/APIService/build/
/APIService/out/
/APIService/**/*.class

# Log files
/APIService/**/*.log

# Environment variables
/APIService/*.env

# IDE-specific files
/APIService/.project
/APIService/.classpath
/APIService/.settings/
/APIService/.idea/
/APIService/*.iml
/APIService/*.iws
/APIService/.vscode/


# -----------------------------
# Frontend (React)
# -----------------------------

# Dependencies
/ReactFront/node_modules/
/ReactFront/.pnp
/ReactFront/.pnp.js

# Production build
/ReactFront/build

# Environment variables
/ReactFront/.env
/ReactFront/.env.local
/ReactFront/.env.development
/ReactFront/.env.production
/ReactFront/.env.test

# Log files
/ReactFront/npm-debug.log*
/ReactFront/yarn-debug.log*
/ReactFront/yarn-error.log*

# Editor-specific files
/ReactFront/.idea
/ReactFront/.vscode
/ReactFront/*.suo
/ReactFront/*.ntvs*
/ReactFront/*.njsproj
/ReactFront/*.sln
/ReactFront/*.sw?


# -----------------------------
# Flask ignore List - LLM and YOLO
# -----------------------------

# Python related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# Virtual environment folders
myenv/
venv/

# Environment variables
*.env

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pt

# Training and log directories
runs/

# Datasets and results
datasets/
results/


# -----------------------------
# Common
# -----------------------------

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Log files
*.log
*.sqlite3

# PyCharm settings
# .idea/
