# -----------------------------
# Backend (Spring / Gradle)
# -----------------------------

# Gradle specific files
/APIService/.gradle/
/APIService/build/
/APIService/out/

# Compiled class files
/APIService/**/*.class

# Log files
/APIService/**/*.log

# Maven specific files (if applicable)
/APIService/target/
/APIService/pom.xml.tag
/APIService/pom.xml.releaseBackup
/APIService/pom.xml.versionsBackup
/APIService/pom.xml.next
/APIService/release.properties

# Environment variables
/APIService/*.env

# IDE-specific files
/APIService/.project
/APIService/.classpath
/APIService/.settings/
/APIService/.idea/
/APIService/*.iml
/APIService/*.iws
/APIService/.vscode/

# -----------------------------
# Frontend (React)
# -----------------------------

# Dependencies
/ReactFront/node_modules/
/ReactFront/.pnp
/ReactFront/.pnp.js

# Production build
/ReactFront/build

# Environment variables
/ReactFront/.env
/ReactFront/.env.local
/ReactFront/.env.development
/ReactFront/.env.production
/ReactFront/.env.test

# Log files
/ReactFront/npm-debug.log*
/ReactFront/yarn-debug.log*
/ReactFront/yarn-error.log*

# Editor-specific files
/ReactFront/.idea
/ReactFront/.vscode
/ReactFront/*.suo
/ReactFront/*.ntvs*
/ReactFront/*.njsproj
/ReactFront/*.sln
/ReactFront/*.sw?

# -----------------------------
# Common
# -----------------------------

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

### flask ignore list
# Python 관련
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# 가상환경 폴더 (myenv 등)
myenv/
venv/
.env

# 환경 변수 파일
*.env

# VSCode 설정 파일
.vscode/

# Jupyter Notebook 체크포인트 파일
.ipynb_checkpoints/

# macOS 관련
.DS_Store

# 로그 파일
*.log
*.sqlite3

# 파이참 설정 파일
.idea/
