/* src/features/ChatBot/ChatMessages.css */
:root {
    --input-height: 60px;
    --navbar-height: 50px;
    --chat-bg-color: #ffffff;
    --chat-border-color: #ddd;
    --viewport-height: 100vh;
}

.chat-messages-container {
    height: calc(var(--viewport-height) - var(--matjipsa-common-topbar-height) - var(--navbar-height) - var(--input-height));
    overflow-y: auto;
    padding: 10px;
    background-color: var(--chat-bg-color);
}

@media (max-width: 600px) {
    .chat-messages-container {
        height: calc(var(--viewport-height) - var(--matjipsa-common-topbar-height) - var(--navbar-height) - var(--input-height) - 50px);
    }
}
