/* src/features/ChatBot/MessageBubble.css */

/* 공통 컨테이너 스타일 */
.message-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

/* 사용자 메시지 스타일 */
.user-message {
    justify-content: flex-end;
}

.user-bubble, .bot-bubble {
    word-break: break-word;
    border-radius: 10px;
    padding: 10px;
}

.user-bubble {
    background-color: var(--user-msg-bg, #007bff);
    color: white;
    max-width: 60%;
}

.bot-bubble {
    background-color: var(--bot-msg-bg, #6c757d);
    color: white;
    max-width: 100%;
}

/* 봇 메시지 스타일 */
.bot-message {
    flex-direction: row;
    align-items: center; /* 이미지와 텍스트 수직 정렬 */
    margin-left: 10px; /* 왼쪽 여백 추가 */
}

/* 이미지 스타일 */
.bot-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    align-self: flex-start;
  }
  