# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
numpy>=1.23.5
opencv-python>=4.1.1
flask==2.0.2
werkzeug==2.0.3
onnxruntime>=1.12.0



# Plotting --------------------------------------------------------------------
pandas>=1.1.4


# Deploy ----------------------------------------------------------------------
setuptools>=70.0.0 # Snyk vulnerability fix


