/* src/components/Settings/Settings.css */

.account-actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* 가득 채우기 */
}

.logout-button, .delete-account-button {
  width: 100%; /* 모바일 화면에서 버튼이 가득 차도록 설정 */
  padding: 12px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.logout-button {
  background-color: #ffcc00;
  color: #333;
}

.delete-account-button {
  background-color: #ff4d4d;
  color: white;
}

.logout-button:hover {
  background-color: #ffb300;
}

.delete-account-button:hover {
  background-color: #ff3333;
}
