/* src/components/Ingredients/FileUploader.css */

/* 업로드된 사진 미리보기 컨테이너 */
.preview-container {
    margin-top: 20px;
    text-align: center;
    overflow: auto;
    max-width: 90%;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* 업로드된 사진 미리보기 */
  .preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
  