/* src/components/Ingredients/PhotoTypeOptions.css */

.photo-type-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .photo-type-options label {
    margin-bottom: 10px;
    font-size: 1em;
  }
  