/* src/components/Ingredients/RecognitionResultModal.css */

.result-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  .result-list li {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .confirm-button,
  .cancel-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: #4caf50;
  }
  
  .confirm-button:hover {
    background-color: #45a049;
  }
  
  .cancel-button {
    background-color: #f44336;
  }
  
  .cancel-button:hover {
    background-color: #d32f2f;
  }
  