/* Home.css */

/* Home 전체 레이아웃 설정 */
.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 화면 전체 높이 사용 */
    width: 100%; /* 화면 전체 너비 차지 */
    justify-content: space-between;
    overflow-x: hidden; /* 수평 스크롤 제거 */
  }
  
  /* 각 탭의 콘텐츠 영역 */
  .tab-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
  }
  
  /* 네비게이션 바 설정 */
  .navbar {
    display: flex;
    width: 100%; /* 전체 화면 너비 차지 */
    background-color: #333;
    position: fixed;
    bottom: 0;
    padding: 0;
  }
  
  /* 네비게이션 버튼 스타일 */
  .navbar button {
    flex: 1; /* 모든 버튼이 네비게이션 바 전체 너비를 균등하게 차지 */
    color: white;
    background: none;
    border: none;
    padding: 15px; /* 클릭 영역 확대 */
    font-size: 1em;
    cursor: pointer;
    text-align: center;
  }
  
  .navbar button:hover {
    background-color: #575757;
  }
  