/* Settings.css */
.settings-content {
  padding: 16px;
  margin: 0 20px;
  width: auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
}

.content-section {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  width: 100%;
  min-height: 80px;
}

/* 로그아웃 및 회원탈퇴 버튼 스타일 */
.account-actions {
  margin-top: 30px; /* 상단 버튼들과 구분을 위해 여백 추가 */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logout-button {
  background-color: #ffcc00;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 12px;
}

.delete-account-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px;
}

.logout-button:hover {
  background-color: #ffb300;
}

.delete-account-button:hover {
  background-color: #ff3333;
}
