@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css');

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #FFF8E1; /* 기본 배경: 베이지 색 */
  --text-color: #333333; /* 기본 텍스트 색 */
  --primary-color: #81C784; /* Default primary color */
  --secondary-color: #FFB74D; /* Default secondary color */
  --admin-navbar-height: 60px; /* Default NavBar height */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.admin-content {
  margin-top: var(--admin-navbar-height);
}
