/* App.css */

/* App 전체 레이아웃 설정 */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  min-height: 100vh;
}

/* 애플리케이션 링크 스타일 */
.App-link {
  color: #61dafb;
}

/* 로고 애니메이션 */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
